<div class="modal-content">
    <div class="modal-header headerModal">
        <h4 class="modal-title">
            <img class="logoModal" src="assets/img/logo-dark.png" />
        </h4>
        <button type="button" class="closeModal" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="hidescroll" style="height: 650px;">
        <div class="modal-body">
            <div class="col-md-12 mt-3" style="width: 100%; height: 550px">
                <form [formGroup]="accessForm">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="block mb-2">Application Name<span class="text-danger">*</span></label>
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-input-group nzPrefixIcon="build" nzSize="large">
                                        <input formControlName="applicationName" nz-input placeholder="Enter Application" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="block mb-2">Account No<span class="text-danger">*</span></label>
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-input-group nzPrefixIcon="field-number" nzSize="large">
                                        <input formControlName="debitAccount" nz-input placeholder="Enter Account No" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-6">
                            <label class="block mb-2">Email<span class="text-danger">*</span></label>
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-input-group nzPrefixIcon="inbox" nzSize="large">
                                        <input formControlName="email" nz-input placeholder="Enter Email" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="block mb-2">Description<span class="text-danger">*</span></label>
                            <nz-form-item>
                                <nz-form-control>
                                    <textarea formControlName="description" nz-input rows="3" placeholder="Please enter description here"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label class="block mb-2">isFintech?<span class="text-danger">*</span></label>
                            <nz-form-item>
                                <nz-select nzShowSearch nzAllowClear formControlName="isFintech" class="w-100" nzPlaceHolder="Select is Fintech">
                                    <nz-option nzLabel="Yes" nzValue="true"></nz-option>
                                    <nz-option nzLabel="No" nzValue="false"></nz-option>
                                </nz-select>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label class="block mb-2">Select Application?<span class="text-danger">*</span></label>
                            <nz-form-item>
                                <nz-select nzShowSearch nzAllowClear formControlName="allowedScopes" nzMode="multiple" class="w-100" nzPlaceHolder="Select is Fintech">
                                    <nz-option nzLabel="Yes" nzValue="true"></nz-option>
                                    <nz-option nzLabel="No" nzValue="false"></nz-option>
                                </nz-select>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="row mb-2 mt-4">
                        <div class="col-md-12">
                            <a class="butn butn-xsm w-100 headerBtn">
                                <span class="text">Submit</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>