<!-- ==================== Start Footer ==================== -->

<footer class="purple-light-bg position-re pb-40 mt-80">

    <!-- <div class="container mb-40 to-up">
        <div class="call-action-banner pt-60 pb-60 position-re gr-blue2-bg radius-30" data-overlay-dark="0">
            <div class="row position-re ontop">
                <div class="col-lg-7">
                    <div class="text">
                        <h6 class="sub-title fw-400">Already interested!</h6>
                        <h4 class="fw-700">Don't wait and start now !</h4>
                        <p class="text-light">Tell us which describes you, and we'll get in touch with next steps.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 valign">
                    <div class="call-button full-width d-flex justify-content-end">
                        <a href="contact-creative.html" class="butn butn-md bg-light radius-30">
                            <span class="text text-dark slide-up">Get Started</span>
                            <span class="text text-dark slide-down">Get Started</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="full-over bg-img opacity-3 radius-30" data-background="assets/img/patterns/call-action.png"></div>
        </div>
    </div> -->

    <div class="container" style="padding-top: 60px;">
        <div class="row">
            <div class="col-lg-3">
                <div class="clumn">
                    <a href="landing-preview.html" class="logo mb-30">
                        <img src="assets/img/logo-dark.png" alt="">
                    </a>
                    <p>Morbi sagittis hendrt nulla simply text of the printing and has been the industry’s en diam pretium.</p>
                    <div class="social circle-bord mt-30">
                        <ul class="rest horizontal-link">
                            <li>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="clumn">
                    <h6 class="title fw-600 mb-30">Contact Us</h6>
                    <ul class="address rest">
                        <li class="adrs mb-15">Germany — 785 15h Street, Office 478 Berlin, De 81566</li>
                        <li class="eml underline mb-15">
                            <a href="#0">Info-Support@Gmail.com</a>
                        </li>
                        <li class="tel">
                            <h6 class="gr-blue2-text">+1 840 841 25 69</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="clumn">
                    <h6 class="title fw-700 mb-30">Instagram</h6>
                    <ul class="insta flex mb-20 rest">
                        <li class="mr-20 full-width">
                            <a href="https://www.instagram.com/"><img src="assets/img/insta/1.jpg" alt=""></a>
                        </li>
                        <li class="mr-20 full-width">
                            <a href="https://www.instagram.com/"><img src="assets/img/insta/2.jpg" alt=""></a>
                        </li>
                        <li class="full-width">
                            <a href="https://www.instagram.com/"><img src="assets/img/insta/3.jpg" alt=""></a>
                        </li>
                    </ul>
                    <ul class="insta flex rest">
                        <li class="mr-20 full-width">
                            <a href="https://www.instagram.com/"><img src="assets/img/insta/4.jpg" alt=""></a>
                        </li>
                        <li class="mr-20 full-width">
                            <a href="https://www.instagram.com/"><img src="assets/img/insta/5.jpg" alt=""></a>
                        </li>
                        <li class="full-width">
                            <a href="https://www.instagram.com/"><img src="assets/img/insta/6.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-footer pt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="horizontal-link fz-13">
                        <ul class="rest">
                            <li class="mr-30">
                                <a href="services-business.html">Privacy policy</a>
                            </li>
                            <li class="mr-30">
                                <a href="services-business.html">Legal notice</a>
                            </li>
                            <li>
                                <a href="services-business.html">Terms of service</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyrights d-flex justify-content-end">
                        <p class="fz-13">© 2022 Ravo is Proudly Powered by <span class="underline"><a
                                  href="https://themeforest.net/user/ui-themez" target="_blank"
                                  class="gr-blue2-text">Ui-ThemeZ</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="wave-1 top revers-x bg-img" data-background="assets/img/waves/wave-white2.svg"></div> -->

</footer>

<!-- ==================== End Footer ==================== -->